@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #3636e7;
  }
  
  html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
  }
  
  section {
    position: relative; /* or fixed/absolute */
  }
  

  .vertical-timeline::before {

    background: #e5e7eb !important;

  }


  .dark .vertical-timeline::before {

      background: rgba(255, 255, 255, 0.2) !important;

}